<% if user_signed_in? %>
<h1 id="user_room" data-room_id="<%= @room.id %>" data-user_id="<%= current_user.id %>"><%= @room.title %></h1>
<% else %>
<h1 id="room" data-room_id="<%= @room.id %>"><%= @room.title %></h1>
<% end %>
<p><%= @room.text %></p>

<div id="messageBox">
  <% @messages.each do |message| %>
    <p id="namee"><%= message.user.name %>:</p>
    <p id="new-message"><%= message.content %></p>
  <% end %>
</div>
<input type="text" id="message-form" placeholder="new message"><br>

<%= link_to  "Room一覧に戻る", rooms_path %>