<!DOCTYPE html>
<html>
  <head>
    <title>ChatRoomApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div id="header">
    <a href="/rooms"><h1>ChatRoomApp</h1></a>
    <nav>
      <ul id="navi">
        <% if user_signed_in? %>
          <li><%= link_to "トップ", rooms_path %></li>
          <li><%= link_to "ルーム作成", new_room_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "トップ", rooms_path %></li>
          <li><%= link_to "ルーム作成", new_room_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="nav_btn" id="nav_btn">
      <span class="ham_line ham_line1"></span>
      <span class="ham_line ham_line2"></span>
      <span class="ham_line ham_line3"></span>
    </div>
    <div class="nav_bg" id="nav_bg"></div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= javascript_pack_tag 'home/home' %>
  </body>
</html>
